<h1 class="center-align">Dashboard</h1>
<section class="container">
    <header class="row ">
        <h5>Current Orders</h5>
         <% @placeordercurrent.each do |p| %>
        <div class="col s12 m6 l4 xl2 content">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Your bill no is <b><%=p.cart_id%></b>  </p>
                    </div>
                    <div class="card-action">
                        <a class="btn orange" target="_blank" href="/placeorder/<%=p.id%>">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </header>
            <button class="btn amber darken-1" data-class="content" id="showMore">Check Current Pending Orders</button>
    <main class="row">
        <h5>Order History</h5>
        <% @placeorder.each do |p| %>
        <div class="col s12 m6 l4 xl2  content2">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Your bill no is <b><%=p.cart_id%></b></p>
                    </div>
                    <div class="card-action">
                        <a target="_blank" class="btn lime darken-1" href="/placeorder/<%=p.id%>">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </main>
    <button class="btn lime darken-1" data-class="content2" id="showMore2">Chek Past Orders</button>
    <footer class="card">
        <h5>Your Last Order</h5>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% @cartitem.each do |c| %>
                <tr>
                    <td><%=c.menu_name%></td>
                    <td><%=c.qty%></td>
                    <td><%=c.price%></td>
                    <td><%=c.total%></td>
                    <%end%>
                </tr>
            </tbody>
        </table>
        <h5> Your Total Bill is <%=billamount%></h5>
    </footer>
</section>