<section class="row container">
    <div class="col product l9 xl10 m12 s12">
        <div class="row">
            <% @menus.each do |menu| %>
            <%if Enable(menu)%>
            <% if timings(menu)%>
            <div class="col xl3 l3 m6 s12 ">
      

                <!--Product Start-->
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img menuimg" src="<%= menu.image%>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%=menu.name%><i class="material-icons right">more_vert</i></span>
                        <p><div class="a2 card-action" id="mid<%=menu.id%>">
                            <button type="submit" class="btn addcart" data-menu="<%=menu.id%>">Add to Cart</button>
                        </div></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%=menu.name%><i class="material-icons right">close</i></span>
                        <p><%=menu.description%></p>
                    </div>
                </div>
                <!--Product End-->
            </div>
            <%end%>
            <%end%>
            <%end%>
        </div>
    </div>

    <div class="col cart xl2 l3 m8 s12 hide-on-med-and-down">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>qty</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Remove</th>
                    <th class="hide-on-large-only"><button id="mcartclose" class="btn-floating grey"><i class="material-icons">close</i></button></th>
                </tr>
            </thead>
            <tbody id="carttbody"></tbody>
        </table>
        <section class="placeordersection">
            <div id="billamount"></div>
            <% if current_user_auth %>
            <form action="placeorder/create" method="POST">
                <p id="inputcartid"></p>
                <input type='hidden' name='user_id' value="<%= current_user_auth.id %>">
                <input type='hidden' name='status' value="Order received">
                <label>What you want</label>
                <select name="deliverytype" class="browser-default" required>
                    <option disabled selected>Choose Dine In/Take away</option>
                    <option value="Dinein">Dine In</option>
                    <option value="Takeaway">Take Away</option>
                </select>
                <input type='submit' value="place order" class="btn green">
            </form>
            <% else %>
            <a href="login" class="btn green">Login to Continue</a>
            <% end %>
        </section>
    </div>
</section>

<div class="fixed-action-btn hide-on-large-only">
    <button id="mcart" class="btn-floating btn-large lime ">
        <i class="large material-icons">shopping_cart</i>
    </button>
</div>