<!DOCTYPE html>
<html>

<head>
    <title>Foods <%=controller_name%></title>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%=controller_name%> <%=action_name%>">
    <nav>
        <%= render "partial/dnav" %>
    </nav>
    <%= render "partial/notic" %>
        <%= yield %>
</body>
</div>
</html>